@charset "utf-8";

#index {
	/*background-image: url(../images/DSC_0489.JPG);*/
	background-color: #ddbea9;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
}

#input_massage {
	border-radius: 5px;
}

.input {
	width: 400px;
	text-align: center;
	background-color: rgba(165, 165, 141 ,1);
	margin : auto auto;
	border-radius: 30px;
	padding : 10px;
}

.nav {
	font-size: 30px;
}

a {
	font-size: 40px;
	float: left;
	color: #cb997e;
}

.header {
		background-color: #fff1e6;
}



small {
	color: #ffffff;
}

.center {
	text-align: center;
}
